[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
black = "*"
ipykernel = "*"

[dev-packages]
black = "*"
isort = "*"
pytest = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.7"
