[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
matplotlib = "*"
torch = "*"
torchvision = "*"

[dev-packages]
autopep8 = "*"
black = "*"
flake8 = "*"
isort = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.7"
